name: backend-counter

on:
  push:
    branches:
      main

jobs:

  build:

    runs-on: ubuntu-latest
  
    steps:
      
      - uses: actions/checkout@v2

      
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          

      - run: sudo apt-get update && sudo apt-get install -y maven
      - run: mvn clean install
      - run: mvn package
      - run: mvn compile
      - run: mvn spring-boot-run
