name: backend-counter

on:
  push:
    branches:
      main

jobs:

  build:

    runs-on: ubuntu-latest
  
    steps:
      
      - uses: actions/checkout@v2

      
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          

      - run: sudo apt-get update && sudo apt-get install -y maven
      - run: mvn test
      - name: Upload test reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: target/surefire-reports
      - run: mvn clean package
      - run: java -jar target/*.jar &
